## Development
alias up="docker-compose up -d"
alias ngrok="~/repo/ngrok http"

alias newlaravel="composer create-project --prefer-dist laravel/laravel "
alias newlara="sh $DOTDIR/scripts/laravel_install.sh";
alias newSite="sh $DOTDIR/scripts/nginx_host_install.sh";

## General
alias l="ls -lah";

## Personal
alias taxer="javaws ~/Downloads/start.jnlp"

## function
function cd() { builtin cd "$@" && ls -GFlah; }
